@import 'aos';

body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 15;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width:  1040px;
    background: #992e45;
    border: 3px solid #e9cb61;
    border-radius: 3px;
    padding: 30px;
}


#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#tourContentOne{
  display: none;

}
#tourContentTwo{
  display: none;

}
#tourContentThere{
  display: none;


}
#tourContentFor{
  display: none;

}
#contentInscribete{
  display: none;

}

.fade {
  position: relative;
  .slick-arrow{
    position: absolute;
    z-index: 2;
  }
  .slick-next{
    right: 60px;
  }
  .slick-prev{
    left: 60px;
  }
  .slick-next:before, .slick-prev:before {
    opacity: 0.7!important;
    font-size: 40px!important;
  }
}
.header{
  position: relative;
}
.img1{
  background: linear-gradient(
      rgba(19, 19, 19, 0.55),
      rgba(19, 19,19, 0.55)
    ),url("../img/portada.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.img2{
  background: linear-gradient(
      rgba(19, 19, 19, 0.55),
      rgba(19, 19,19, 0.55)
    ),url("../img/img2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.img3{
  background: linear-gradient(
      rgba(19, 19, 19, 0.55),
      rgba(19, 19,19, 0.55)
    ),url("../img/banner_1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.imgBack{
  background: linear-gradient(
      rgba(19, 19, 19, 0.55),
      rgba(19, 19,19, 0.55)
    ),url("../img/portada.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.container{
  max-width: 950px;
  margin: 0 auto;
}
.navList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .navListItem{
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 3px;
    margin: 21px 0;
    text-decoration: none;
  }
  .navListItem::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white;
    transition: width .3s;
  }
  .navListItem:hover::after {
    width: 100%;
    //transition: width .3s;
  }
}
.lineSocialsTop{
  z-index: 1;
  position: absolute;
  top: 0px;
  width:100%;
}
.lineSocials{
  background: #181821;

  .headSocials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .textWebSiteUpeu{
    font-size: 14px;
    font-style: italic;
    color: #fff;
    margin: 0;
  }
  .contentIconsSocials{
    display: flex;
    align-items: center;
    .textSocial{
      color: white;
      font-size: 14px;
      margin: 0;
    }
    .iconsSocials{
      margin: 10px;
      border: 1px solid white;
      border-radius: 50%;
      width: 19px;
      height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      .fab{
        color: white;
      }
    }
  }
}

.menuHeader{
  background: #992f45;
  border-bottom: 2px #eacc61 solid;
  border-top: 2px #eacc61 solid;
}
.logo{
  height: 500px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 125px;
  img{
    animation: lated 1.5s infinite;
  }
}

.countdown-picker{
  text-align: center;
  color: #020202;
  background: rgba(153, 47, 69, 0.51);
  position: absolute;
  width: 100%;
  bottom: 80px;
  #clock{
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin: 8px 0;
  }
}
.lineTitleColor{
  background: #992E45;
  border-bottom: 2px solid #ebcd60;
  box-shadow: 1px 3px 9px 0px black;
}
.lineTitleColor-Mod{
  background: #992E45;
  border-bottom: 5px solid #ebcd60;
}
.titleSection{
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding: 20px;
}
.imgTour{
  background:linear-gradient(
      rgba(19, 3, 7, 0.76 ),
      rgba(19, 3, 7, 0.76)
    ), url("../img/tour.png");
  width:  100%;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 10px 0;
  background-attachment: fixed;
}
.imgHotel{
  background:linear-gradient(
      rgba(19, 3, 7, 0.76 ),
      rgba(19, 3, 7, 0.76)
    ), url("../img/tour.png");
  width:  100%;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 10px 0;
  background-attachment: fixed;
}
.textTour{
  font-size: 19px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
.centerCarrousel{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.tabLinksList{
  list-style: none;
  margin: 35px 0px;
}
.contentTours{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}
.contentItemImgTextHotel{
  position: absolute;
  width: 280px;
  top: 50%;
  transition: 1s;
  transform: translateY(-50%);
  background: linear-gradient(
      rgba(152, 46, 69, 0.79 ),
      rgba(152, 46, 69, 0.79)
    );

  .itemImgTextHotel{
    font-size: 30px;
    color: #fff;
    text-align: center;
  }
}
.hotelDescription{
  position: absolute;
  .hotelDescriptionText{
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px 20px;
    opacity: 0;
    transition: 2s;
  }
}
.pictureTour:hover{
  .contentItemImgTextHotel {
    transform: scaleY(3.8);
    top: 37%;
    .itemImgTextHotel{
      opacity: 0;
    }
  }
  .hotelDescriptionText{
    opacity: 9;
  }
}

.contentHotels{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 190px;
}
.pictureTour{
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  .contentItemImgText{
    position: absolute;
    width: 280px;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(
        rgba(152, 46, 69, 0.79 ),
        rgba(152, 46, 69, 0.79)
      );

    .itemImgText{
      font-size: 30px;
      color: #fff;
      text-align: center;
    }
  }
}
.sectionTour{
  height: 862px;
}
.sectionHotel{
  height: 862px;
}
.buttonLine{
  padding: 10px 40px;
  border: 3px solid #992e45;
  color: #992e45;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  transition: .3s all;
  &:hover{
    background-color: #992e45;
    color: white;
  }
}
.videoSignUp{
  border:2px solid #e9cb61;
}
.contentSignUp{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-46%);
  bottom: -1px;
}
.dateText{
  color: #fff;
  margin: 0px 32px;
}
.button-AllColor{
  padding: 10px 0;
  width: 300px;
  border: 3px solid #992e45;
  color: white;
  font-size: 19px;
  text-transform: #992e45;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  transition: .3s all;
  background: #992e45;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 65%;
  i{
    font-size: 15px;
    margin-left: 10px;
  }
  &:hover{
    background-color: white;
    color: #992e45;
  }
}
.button-subscribe{
  margin-top: 20px;
}
.textsEnds{
  margin-top: 180px;
  .textTourEndTem{
    font-size: 44px;
    color: #992E45;
    opacity: 0.9;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  .textTourEnd{
    font-size: 34px;
    color: #992E45;
    opacity: 0.9;
    margin: 0;
    text-align: center;
  }
}
.imgPonentes{
  background: linear-gradient(
      rgba(152, 46, 69, 0.79 ),
      rgba(152, 46, 69, 0.79)
    ), url("../img/ponente.png");
  width:  100%;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}
.linetitle{
  width: 99.5%;
  border: 2px solid #E9CB62;
  position: absolute;
  top: 79px;
}
.lineBottom{
  width: 99.5%;
  border: 3px solid #E9CB62;
  position: absolute;
  bottom: 0;
}
.Speaker{
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-wrap: wrap;
}
.containerSpeaker{
  height: 815px;
  display: flex;
  align-items: center;
}
.contentSpeaker{
  width: 260px;
  height: 353px;
  background: #eacc61;
  position: relative;
  box-shadow: 0 3px 4px 0px rgb(62, 61, 61);
  .textSpeaker{
    color: #181821;
    font-size: 15px;
    margin: 4px;
    text-align: center;
    font-weight: 600;
  }
  .nameSpeaker{
    background: linear-gradient(rgba(152, 46, 69, 0.94),rgba(152, 46, 69, 0.92));
    width: 100%;
    font-size: 19px;
    text-align: center;
    color: #fff;
    top: 204px;
    position: absolute;
    padding: 18px 0;
  }
  .iconsSocialsSpeaker{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 26px;
    right: -17px;
    .iconsFacebookSpeaker{
      background:  #3C5A99;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      border-radius:  4px;
      margin-bottom: 5px;
    }
    .iconsTwitterSpeaker{
      background:  #28AAE1;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      border-radius:  4px;
      margin-bottom: 5px;
    }
    .iconsGoogleSpeaker{
      background:  #DC4E41;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      border-radius:  4px;
      margin-bottom: 5px;
    }
    .fab{
      font-size: 20px;
      color: white
    }
  }
}
.biography{
  position: absolute;
  background: linear-gradient(rgba(19,3,7,.76),rgba(19,3,7,.76));
  width: 100%;
  height: 0%;
  top: 0;
  display: flex;
  align-items: center;
  transition: 1s;
}
.biographyText{
  text-align: center;
  padding: 10px;
  color: #fff;
  opacity: 0;
  transition: 1s;

}
.contentSpeaker:hover {

  .biography{
      height: 100%;
  }
  .biographyText{
    opacity: 9;
  }
}
@keyframes lated {
  from { transform: none; }
  50% { transform: scale(1.1); }
  to { transform: none; }
}
.titleColor{
  color: #992E45 !important;
  border-bottom: 5px solid #eacc61;
}
.contentProgramation{
  position: relative;
  height: 580px;
  width: 100%;
  margin: 40px 0;
  background:linear-gradient(
      rgba(19, 3, 7, 0.76 ),
      rgba(19, 3, 7, 0.76)
    ), url("../img/programation.png");
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
}
.contentProgramationHeight{
  height: auto;
}
.textDay{
  color: white;
  font-size: 20px;
  text-decoration: none;

}
.textDay:hover{
  color: #e9cb62 !important;
}
.hexagon {
  position: absolute;
  width: 250px;
  height: 144.34px;
  background-color: #e9cb62;
  transition:all .3s ease;
  left: -115px;
}

.hexagon {
  position: absolute;
  width: 80px;
  height: 46.19px;
  background-color: #e9cb62;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 23.09px solid #e9cb62;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 23.09px solid #e9cb62;
}
.textHexagon{
  text-align: center;
  margin: 0;
}
.contentHorary{
  position: relative;
  margin-top:60px;
}
.horary{
  margin-bottom: 85px;
}
.textHorary{
  color: white;
  font-size: 25px;
}
.slick-arrow{
  color:  #992E45 !important;
}
.slick-prev:before{
  opacity: 10 !important;
  font-size: 30px !important;
  margin-left:-13px;
}
.slick-next:before{
  opacity: 10 !important;
  font-size: 30px !important;
  margin-right: -13px;
}
.testimonies{
  margin: 0px 0 40px 0;
}
.itemTestimonies{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.imgTestimonies{
  width: 240px;
  border-radius: 50%;
}
.itemTestimoniesTexts{
  margin: 0 30px;
  text-align: center;
  color: white;
  font-style: italic;
  font-weight: 200;
}
.contentAcordeon{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.AccSquareColor{
  background: #992f45;
}
.AccSquareOpacityColor{
  background: rbga(203,203,98,0.68)
}
.TableAccHead{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;

  top: 0px;
  z-index: 2;
  .TableAccHeadTextTitle{
    width: 45% !important
  }
  .TableAccHeadText{
    width: 14%;
    text-align: center;
    background: #ebcd60;
    font-size: 15px;
    padding: 15px 0;
    color: black;
    font-weight: 500;
    margin:  0;
    flex-grow: 1;

  }
}
.tab {
  display:none;
}
.tab.active {
  display:block;
}
.tableOverflow{
  overflow-x: auto;
  .tableAcc{
    border-collapse: collapse;
    width: 100%;
    .TableAccTrHead{
      display: none;
      text-align: center;
      .TableAccTrHeadTitle{
        width: 200px;
        font-size: 18px;
        color: #737373;
        padding: 20px 20px;
      }
      .TableAccTrHeadText{
        width: 200px;
        color:#737373;
        padding: 20px 20px;
        font-size: 15px;
        font-weight: 700;
      }
    }
    .tableAcctr{
      text-align: center;
      .tableAccTitle{
        text-align: start;
        width: 32%;
        font-size: 15px;
        color: #737373;
        padding: 20px 20px;
        font-weight: 400;
        border: 1px solid #e9cb62;
      }
      .tableAccText{
        width: 10%;
        color: #737373;
        padding: 20px 20px;
        border: 1px solid white;
        background: #992f45;
      }
    }
  }
}
.contentPlan{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f7e9b9;
  border: 1px solid #e9cb62;
  ul{
    li{
      color: #992f45;
    }
  }
}
.tableAccText{
  width: 10%;
  color: white;
  padding: 20px 20px;
  background :#992f45 ;
}
.AccSquare{
  margin-top: 80px;
  .AccSquareContent{
    position: relative;
    margin-top: 1px;
    .transformArrowAcc{
      transform:  rotate(180deg);
      transition: .4s
    }
    .AccSquareIcon{
      position: absolute;
      color: white;
      font-size: 40px;
      right: 29px;
      top: 15px;
      transition: .4s;
      z-index: 1;
    }
    .AccSquareTitle{
      margin: 0;
      padding: 22px 70px 22px 15px;
      font-size: 20px;
      color: #fff;
      font-weight: 500;
    }
  }
}


.margin-topTestimonios{
  margin-top: 143px;
}

.imageTour{
  width: 280px;
  height: 380px;
}
.text-center{
  text-align: center;
}
.footer{
  background: #992E45;
  margin-top: 100px;
}
.textFooter{
  margin: 5px;
  color: white;
  font-size: 14px;
  font-weight: 500;

}
.contentLogoAndMaps{
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mapUpeu{
  height: 300px;
  width: 553px;
  border: 3px solid white;
  border-radius: 3px;
}
.foot{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.formFooter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
  flex-wrap: wrap;
}
.Contact{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ContactText{
  color: white;
  font-size: 20px;
}
.inputContact{
  width: 200px;
  border: 0px;
  border-radius: 4px;
  font-size: 13px;
  margin-bottom: 6px;
  padding: 14px 10px;
}
.inputContactMessaje{
  height: 70px;


}
.buttonInput{
  width: 218px;
  border:0;
  background: #e9cb62;
  height: 42px;
  font-size: 19px;
  border-radius: 4px;
  color: white;
}
.iconInicio{
  position:  fixed;
  font-size: 50px;
  color: #e9cb62;
  right: 30px;
  bottom: 18px;
  cursor: pointer;
  z-index: 10;
}
.itemformSignUp{
  display: flex;
  flex-direction: column;
  margin-bottom:  20px;
}
.itemLabelSignUp{
  font-size: 18px;
   color: #ffffff;

}
.itemInputSignUp{
  width: 280px;
  border-radius: 4px;
  border: none;
  background: #ffffff;
  color: #992e45;
  padding: 12px 13px;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .itemTestimonies{
    flex-wrap: wrap;
  }
  .itemTestimoniesTexts{
    margin: 10px 30px;
  }
  .slick-prev:before{
    display: none;
  }
  .slick-next:before{
  display: none;
  }
  .headSocials{
    justify-content: space-around !important;
  }
  .navList{
    justify-content: space-around !important;
  }
  .textsEnds{
    margin-top: 580px;
  }
  .sectionTour {
    height: 1182px;
  }
  .formFooter{
    flex-direction: column !important;
  }
  .contentLogoAndMaps{
    flex-direction: column !important;

  }

}
@media (max-width: 767px) {
  .imgBack{
    height: 104vh;
  }
  .buttonPackages{
    margin-bottom: 38px;
  }
  .contentPlan{
    flex-direction: column;
  }
  .mapUpeu{
    width: 100%;
  }
  .headSocials{
    justify-content: space-around !important;
  }
  .navList{
    justify-content: space-around !important;
  }
  .textsEnds{
    margin-top: 580px;
  }
  .sectionTour {
    height: 1182px;
  }
  .formFooter{
    flex-direction: column !important;
  }
  .contentLogoAndMaps{
    flex-direction: column !important;

  }
  .TableAccTrHead{
    display: table-row !important;
  }
  .TableAccHead{
    display: none !important;
  }
  .itemTestimonies{
    flex-wrap: wrap;
  }
  .itemTestimoniesTexts{
    margin: 10px 30px;
  }
  .slick-prev:before{
    display: none;
  }
  .slick-next:before{
  display: none;
  }
  .navList{
    flex-direction: column;
    .navListItem{
      margin: 11px 0;
    }
  }
  .button-subscribe{
    margin-top: 37px;
  }
  .sectionTour{
    height: 1005px;
  }
  .textsEnds{
    margin-top: 946px;
  }
  .contentSpeaker{
        margin-top: 50px !important;
  }
  .imgPonentes{
    height: 153vh;
  }
  .buttonMobil{
    margin-top: 10px;
  }
  .horary{
    margin-left: 51px;
  }
  .hexagon{
    left: -85px;
  }
  .textDay{
    display: none;
  }
  .textsEnds{
    margin-top: 317px;
  }
  .imgPonentes {
    height: 60vh;
  }
  .containerSpeaker {
    height: 414px;
  }
}
@media (max-width: 480px) {
  .centerCarrousel{
    display: block !important;
  }
  .contentSpeaker{
    margin-left: 55px;
  }
  .textsEnds{
    margin-top: 317px;
  }
  .logoUpeuText{
    width: 300px;
  }
  .buttonMobil{
    margin-top: -16px;
  }
  .button-AllColor{
      width: 100%;
  }
  .imgPonentes{
    height: 83vh;
  }
}
@media (max-height: 735px) {

  .buttonMobil {
      margin-top: -100px;
  }
}
